.header {
    color :rgb(100, 10, 10);
    background-color: rgb(206, 245, 232);
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
}

.text {
    color : rgb(2, 80, 104);
    background-color: rgb(238, 232, 225) ;
}

.title {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : palevioletred;
    text-align: center;

}

#pic {
    text-align: center;
    padding-left: 40%;
}

.contInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* This is a single-line comment */

/*
This is a multi-line comment
which spans over multiple
lines.
*/
p {
    padding-bottom: 16px;
}