* {
    background-image: radial-gradient(rgb(250, 236, 236), rgb(211, 189, 247));
}

header {
    width: 100%;
    background-color: rgb(229, 246, 247);

    .headerName {
        padding-top: 20px;
        font-size: 50px;
        font-family: fantasy;
        font-weight: bolder;
        color: rgb(47, 51, 56);
        padding-left: 10%;
        padding-bottom: 20px;
    }

    .navBar {
        padding-block: 10px;

        .navBarChild {
            background-color: rgb(168, 231, 247);
            border: 1px solid gray;
            display: inline-block;
            width: 20%;
            padding-block: 10px;
            padding-inline: 20px;
            font-family: cursive;
            font-weight: bolder;
            text-align: center;
            font-size: 30px;
            border-radius: 10px;
            margin-inline: 1.3%;
        }
    }
}

main {
    background-color: rgb(225, 245, 247);
    padding-bottom: 50px;

    .aboutMe {
        width: 21%;
        background-color: blanchedalmond;
        padding: 10px;
        border: 3px dashed gray;
        border-radius: 10px;
        box-shadow: 0 17px 18px rgb(97, 92, 72);
        display: inline-block;
        vertical-align: top;
        margin-left: 1.25%;
    }

    .PWork {
        width: 21%;
        background-color: blanchedalmond;
        padding: 10px;
        border: 3px dashed gray;
        border-radius: 10px;
        box-shadow: 0 17px 18px rgb(97, 92, 72);
        vertical-align: top;
        display: inline-block;
        margin-left: 2.25%;
    }

    .Edu {
        width: 21%;
        background-color: blanchedalmond;
        padding: 10px;
        border: 3px dashed gray;
        border-radius: 10px;
        box-shadow: 0 17px 18px rgb(97, 92, 72);
        vertical-align: top;
        display: inline-block;
        margin-left: 2.25%;
    }

    .projects {
        width: 21%;
        background-color: blanchedalmond;
        padding: 10px;
        border: 3px dashed gray;
        border-radius: 10px;
        box-shadow: 0 17px 18px rgb(97, 92, 72);
        vertical-align: top;
        display: inline-block;
        margin-left: 2.25%;

        .projLinks {
            font-size: 50px;
            list-style: none;
            padding-left: 25px;
            padding-block: 15px;
        }
    }
}

footer {
    background-color: rgb(160, 194, 194);
    text-align: center;

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-align: center;
    }
}

.text {
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
}

.subtitle {
    font-family: cursive;
    font-weight: bolder;
    padding-left: 20px;
}

header .navBar .navBarChild:hover {
    background-color: rgb(207, 243, 252);
    border: 1px solid gray;
    display: inline-block;
    width: 20%;
    padding-block: 10px;
    padding-inline: 20px;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    margin-inline: 1.3%;
    box-shadow: 0 15px 15px rgb(36, 36, 48);
}

main .aboutMe:hover {
    width: 21%;
    background-color: blanchedalmond;
    padding: 10px;
    border: 3px dashed gray;
    border-radius: 10px;
    box-shadow: 0 17px 18px rgb(97, 92, 72);
    display: inline-block;
    vertical-align: top;
    margin-left: 1.25%;
    transform: scale(110%);
}

main .PWork:hover {

    width: 21%;
    background-color: blanchedalmond;
    padding: 10px;
    border: 3px dashed gray;
    border-radius: 10px;
    box-shadow: 0 17px 18px rgb(97, 92, 72);
    vertical-align: top;
    display: inline-block;
    margin-left: 2.25%;
    transform: scale(110%);
}

main .Edu:hover {
    width: 21%;
    background-color: blanchedalmond;
    padding: 10px;
    border: 3px dashed gray;
    border-radius: 10px;
    box-shadow: 0 17px 18px rgb(97, 92, 72);
    vertical-align: top;
    display: inline-block;
    margin-left: 2.25%;
    transform: scale(110%);
}

main .projects:hover {
    width: 21%;
    background-color: blanchedalmond;
    padding: 10px;
    border: 3px dashed gray;
    border-radius: 10px;
    box-shadow: 0 17px 18px rgb(97, 92, 72);
    vertical-align: top;
    display: inline-block;
    margin-left: 2.25%;
    transform: scale(110%);

    .projLinks {
        font-size: 50px;
        list-style: none;
        padding-left: 25px;
        padding-block: 15px;
    }
}