* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: rgb(0, 11, 39);
}

header {
    background-color: rgb(24, 42, 68);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    position: fixed;
    width: 100%;
    background-image: url("../../asset/pics/p4.gif");

    h1 {
        font-size: 30px;
        padding-left: 10%;
        font-family: fantasy;
        color: rgb(196, 222, 255);
        margin-block: auto;
        width: 95%;
    }

    button {
        background-color: rgb(29, 44, 114);
        border-radius: 15px;
        padding-block: 5px;
        font-family: fantasy;
        color: rgb(198, 209, 241);
        border: 2px solid rgb(101, 117, 151);
        display: inline;
    }

    button:hover {
        transform: scale(110%);
    }
}

main {
    padding-top: 50px;

    background-image: url("../../asset/pics/b5.png");
    background-size: cover;
    background-repeat: repeat;





    div {
        background-color: rgb(24, 42, 68);
        width: 80%;
        margin: auto;
        padding-bottom: 25px;
        margin-top: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 15px;
        background-image: url("../../asset/pics/b2.png");

        h3 {
            font-size: 35px;
            font-family: fantasy;
            text-align: center;
            padding: 10px;
            color: rgb(181, 222, 255);
        }

        p {
            font-size: 15px;
            font-family: fantasy;
            text-align: center;
            padding: 10px;
            color: rgb(181, 222, 255);
        }

        input {
            color: whitesmoke;
            text-align: center;
            width: 20%;
            margin-left: 40%;
            border: 1px rgb(255, 255, 255) solid;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: rgb(4, 26, 27);
            height: 40px;
        }

        textarea {
            color: whitesmoke;
            height: 450px;
            text-align: left;
            width: 40%;
            margin-left: 30%;
            border: 1px rgb(255, 255, 255) solid;
            border-radius: 3px;
            box-sizing: border-box;
            resize: none;
            background-color: rgb(4, 26, 27);
        }

        button {
            display: block;
            width: 160px;
            margin: auto;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 5px;
            background-color: rgb(1, 18, 31);
            color: white;
            height: 40px;
            margin-top: 30px;
        }

        button:hover {
            transform: scale(110%);
        }

        #delete {
            display: inline;
            width: 60px;
            height: 60px;
            border: 3px solid rgb(255, 0, 0);
            border-radius: 45px;
            margin-left: 2%;
            background-image: radial-gradient(rgb(94, 0, 0), rgb(0, 38, 87));
            font-size: 20px;
            font-family: fantasy;
            color: rgb(165, 200, 252);
            position: fixed;
            margin-top: 650px;
        }

        #delete:hover {
            transform: scale(120%);
        }
    }
}

#back {
    margin-top: 10px;
}

footer {
    text-align: center;
    color: rgb(180, 231, 247);
    font-size: 15px;
    background-color: rgb(24, 42, 68);
    border: 1px solid rgb(255, 255, 255);
    background-image: url("../../asset/pics/p4.gif");
    font-family: fantasy;
}