* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: rgb(255, 242, 234);
}

header {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;

    h1 {
        font-size: 30px;
        padding-left: 10%;
        font-family: fantasy;
        color: rgb(30, 48, 75);
        margin-block: auto;
        width: 95%;
    }

    button {
        background-color: rgb(159, 203, 243);
        border-radius: 15px;
        padding-block: 5px;
        font-family: fantasy;
        color: rgb(38, 67, 104);
        border: 2px solid rgb(53, 82, 121);
        display: inline;
    }
}

main {
    div {
        background-color: aliceblue;
        width: 80%;
        margin: auto;
        padding-bottom: 25px;
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 15px;

        h3 {
            font-size: 35px;
            font-family: fantasy;
            text-align: center;
            padding: 10px;
            color: rgb(47, 68, 99);
        }

        p {
            font-size: 15px;
            font-family: fantasy;
            text-align: center;
            padding: 10px;
            color: rgb(47, 70, 105);
        }

        input {
            text-align: center;
            width: 20%;
            margin-left: 40%;
            border: 1px black solid;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: rgb(252, 244, 234);
        }

        textarea {
            height: 150px;
            ;
            text-align: left;
            width: 40%;
            margin-left: 30%;
            border: 1px black solid;
            border-radius: 3px;
            box-sizing: border-box;
            resize: none;
            background-color: rgb(252, 244, 234);
        }

        button {
            display: block;
            width: 160px;
            margin: auto;
            border: 1px solid black;
            border-radius: 5px;
            background-color: bisque;
        }
    }
}

#back {
    margin-top: 10px;
}