.main {
    h1 {
        color: green;
    }
    background-color: rgb(227, 229, 231);
    width: 30%;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px -5px black,
        -3px -3px 5px rgb(245, 245, 245),
        inset 5px 5px 15px white,
        inset -2px -2px 7px rgb(124, 124, 124);

    .text {
        font-size: 10px;

        ul {
            list-style-type: none;
            color: red;
        }

        #info {
            font-size: 25px;
        }

    }

    .btns {
        display: flex;
        justify-content: space-between;
        padding-inline: 125px;
        padding-top: 5px;
    }

}